<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box">
            <sly data-sly-use.productModel="com.giftos.project.core.models.ProductModel">
                <a href="">
                <div data-sly-test="${productModel.productUpload}" class="img-box">
                    <img src="${productModel.productUpload}" alt="$productModel.altText{}">
                </div>

                <div class="detail-box">
                    <h6>
                        ${productModel.productTitle}
                    </h6>
                    <h6>
                    Price
                    <span>
                        $:${productModel.productPrice}
                    </span>
                    </h6>
                </div>
                <div class="new">
                    <span>
                        New
                    </span>
                </div>
                </a>
            </sly>
        </div>
    </div>
</div>
    